*, *::before, *::after, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 70px;
    text-align: start;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

body > div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.intro, .progress {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.logo {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: whitesmoke;
    transform: rotate(45deg);
    border-radius: 50%;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1 1 0;
    gap: 15px;
}

body {
    color: whitesmoke;
    background-color: #000000ed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

p {
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

button {
    border-radius: 10px;
    width: 180px;
    height: 60px ;
    background-color: #0e0e0e;
    color: whitesmoke;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

.header {
    background-color: #16191e;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}

.links ul {
    display: flex;
    list-style-type: none;
    margin: auto;
    gap: 30px;
    flex: 1 1 auto;
    width: 75vw;
}

.links li {
    margin: 0;
}

.intro {
    border-radius: 25px;
    margin: auto;
    background-color: #151a21;
    max-width: 100%;
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.intro-text {
    min-width: none;
    min-height: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex: 0 1 50%;
}

.intro-text > p, .info > p {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.code {
    margin-top: 20px;
    max-width: 100%;
    width: 500px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.398) 10px 10px 10px;
    display: flex;
    flex: 1 1 auto;
}

.projects {
    padding: 15px 0;
    background-color: #16191e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
}

.gallery {
    display: flex;
    gap: 30px;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;    
    align-items: center;
    width: 300px; 
    text-align: center;
}

.card > a > img {
    max-width: 100%;
    width: 300px; 
    height: 200px; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.card > span {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: white; /* Added color to ensure visibility on dark background */
}

.progress {
    border-radius: 25px;
    margin: auto;
    width: 100%;
    padding: 15px;
    background-color: #16191e;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.quote {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.628);
    max-width: 90%;
    padding: 25px;
    border-radius: 25px;
    border: 1px #0e0e0e solid;
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 9px;
}

.phrase {
    text-align: start;
    font-style: italic;
    font-family: monospace, sans-serif;
}

.author {
    text-align: end;
    font-weight: bold;
}

.cert-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.certs {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.certs > img {
    box-shadow: 5px 5px 10px black;
    border-radius: 25px;
    max-width: 100%;
    width: 40vw;
    height: auto;
}


.contact-info {
    background-color: #16191e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
    /* border: 1px solid black; */
}

.info > p {
    text-align: center;
}

.info > h2 {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    background-color: #16191e;
}

.copyright {
    font-size: 25px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}